nav.navbar{
	background: #f69021;
	border-radius: 0px;
	border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav.navbar a{
  font-size: 20px;
	color: #30343f;
	transition: color 200ms ease-out;
}

nav.navbar a.navbar-brand{
  font-size: 25px;
}

nav.navbar a:hover{
	color: #ffffff;
}

