<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Zavrsni</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/gramatika">Gramatika</a></li>
        <li><a routerLink="/interpunkcija">Interpunkcija</a></li>
        <li><a routerLink="/vokabular">Vokabular</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!isAuthenticated()" routerLink="/signin">Sign in</a></li>
        <li><a *ngIf="!isAuthenticated()" routerLink="/signup">Sign up</a></li>
        <li><a
          routerLink="/admin"
          *ngIf="isAdmin()">Admin panel</a></li>
        <li><a
          (click)="onLogout()"
          *ngIf="isAuthenticated()">Logout</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
