a.list-item.inactive {
  background-color: #e8e9eb;
  display: block;
  border: 2px solid #343434;
  position: relative;
  padding: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
  opacity: 0.6;
  cursor: default;
}

a.list-item.active{
  display: block;
  border: 2px solid #06a77d;
  position: relative;
  padding: 8px;
  background: #c2f9bb;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
}

.inactive span {
  color: #343434;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0;
  margin: 0;
  padding-left: 2px;
  margin-top: -25px;
  min-width: 32px;
}

.active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a.list-item:not(.inactive):not(.active) {
  display: block;
  border: 2px solid #064287;
  position: relative;
  padding: 8px;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
}

.list-item h4 {
  color: #064287!important;
  font-size: 22px;
  padding: 0;
  padding-bottom: 6px;
  margin: 0;
}

.list-item p, .list-item p:focus {
  color: #343434 !important;
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding-left: 4px;
}

a:not(.inactive) span {
  color: #e77728;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0;
  margin: 0;
  padding-left: 2px;
  margin-top: -25px;
  min-width: 32px;
}

.list-item .lesson-info {
  margin-top: 4px;
  margin-left: 12px;
  padding: 0;
  padding-left: 12px;
  border-left: 1px solid #343434;
}


