<a class="row list-item" style="cursor: pointer;" *ngIf="lesson.available" [routerLink]="[lesson.name]"
   routerLinkActive="active">
  <div class="col-xs-12">
    <span class="col-xs-1">{{index+1}}</span>
    <div class="lesson-info col-xs-9">
      <h4 class="col-xs-12">{{ lesson.name | capitalize }}</h4>
      <p class="col-xs-12">{{ lesson.description }}</p>
    </div>
  </div>
</a>
<a class="row list-item inactive" *ngIf="!lesson.available">
  <div class="col-xs-12">
    <span class="col-xs-1">{{index+1}}</span>
    <div class="lesson-info col-xs-9">
      <h4 class="col-xs-12">{{ lesson.name | capitalize }}</h4>
      <p class="col-xs-12">{{ lesson.description }}</p>
    </div>
  </div>
</a>

