<div class="row">
  <div class="col-md-12 center-block">
    <div [hidden]="state!='lesson'" id="lesson">
      <h1 class="text-center">{{current_lesson.name | capitalize}}</h1>
      <div id="lesson_text" #lesson_text></div>
      <button class="btn center-block" (click)="onQuizActivate()">započni kviz</button>
    </div>
    <div id="quiz" *ngIf="state==='quiz'">
      <form class="center-block" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <p id="question" class="text-center">{{current_question.question}}</p>
        <span *ngIf="incorrect" class="help-block text-center">Odgovor je netočan, pokušaj ponovo!</span>
        <div *ngIf="current_question.type == 'radio'">
          <div class="answers form-group"
               *ngFor="let answer of current_question.answers; let i = index">
            <label class="radio-inline">
              <input ngModel type="radio" name="question" value="{{answer}}" required> {{answer}}
            </label>
          </div>
        </div>
        <div *ngIf="current_question.type == 'input'">
          <input ngModel name="question" placeholder="Upiši odgovor ovdje" type="text"
                 class="form-control"
                 #input_answer required>
          <hr>
          <div class="keyboard">
            <button type="button" (click)="onEnterKey('æ', f)">Æ</button>
            <button type="button" (click)="onEnterKey('ø', f)">Ø</button>
            <button type="button" (click)="onEnterKey('å', f)">Å</button>
          </div>
        </div>
        <div *ngIf="current_question.type=='hangman' ">
          <div #hangman id="hangman" class="col-xs-12">
            <div class="col-xs-12" style="text-align: center">
              <div #letters class="letter-wrapper">
                <span class="letter" *ngFor="let letter of current_question.correct_answer">_</span>
              </div>
            </div>
            <div class="row">
              <input #input_answer type="text" maxlength="1" class="col-xs-4 col-xs-offset-2"
                     placeholder="Upiši slovo ovdje" ngModel name="hangman">
              <button type="button" id="check" class="col-xs-3 btn" (click)="onCheck(f)">Provjeri</button>
            </div>
            <div class="keyboard">
              <button type="button" (click)="onEnterKey('æ', f)">Æ</button>
              <button type="button" (click)="onEnterKey('ø', f)">Ø</button>
              <button type="button" (click)="onEnterKey('å', f)">Å</button>
            </div>
          </div>
          <h4>Iskorištena slova: </h4>
          <div #used_letters class="used-letters"></div>
        </div>
        <div *ngIf="current_question.type=='guess' ">
          <img class="img-responsive"
               src="{{current_question.image}}" alt="">
          <input #input_answer placeholder="Ovdje upiši odgovor" class="form-control" type="text"
                 name="question" ngModel required/>
          <div class="col-xs-12">
            <div class="keyboard center-block">
              <button type="button" (click)="onEnterKey('æ', f)">Æ</button>
              <button type="button" (click)="onEnterKey('ø', f)">Ø</button>
              <button type="button" (click)="onEnterKey('å', f)">Å</button>
            </div>
          </div>
        </div>
        <div *ngIf="current_question.type=='rearrange' ">
          <h3>Odgovor:</h3>
          <div #answer></div>
          <hr>
          <div #available>
            <div *ngFor="let segment of current_question.shuffled_array" (click)="onPush($event)" [style.transform]="position ? 'rotate(-3deg)' : 'rotate(4deg)'"
                 style="border: 3px solid #ffbf00;display: inline-block;padding: 10px 20px;font-size: 24px;font-variant: small-caps;font-weight: bold;cursor: pointer;margin-right: 28px;">
              {{segment}}
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <button [disabled]="shouldDisable(f)" type="submit" *ngIf="index != current_lesson.questions.length - 1"
                  class="btn center-block">sljedeće pitanje
          </button>
          <button [disabled]="shouldDisable(f)" type="submit" *ngIf="index == current_lesson.questions.length - 1"
                  class="btn center-block">kraj
          </button>
        </div>
      </form>
    </div>
    <div id="finish" *ngIf="state==='finished'">
      <h2 class="text-center">Bravo, uspješno si riješio lekciju!</h2>
      <img src="/assets/joke.png" class="img-responsive element-animation" alt="">
      <button class="btn center-block" *ngIf="next_lesson" (click)="onNextLesson()">sljedeća lekcija</button>
    </div>
  </div>
</div>
