<div class="row">
  <div class="col-md-12 center-block">
    <div [hidden]="state!='lesson'" id="lesson">
      <h1 class="text-center">{{current_lesson.name | capitalize}}</h1>
      <div #lesson_text></div>
      <button class="btn btn-primary" (click)="onQuizActivate()">započni kviz</button>
    </div>
    <div *ngIf="state==='quiz'">
      <form class="center-block" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <p class="text-center">{{current_question.question}}</p>
        <span *ngIf="incorrect" class="help-block text-center">Odgovor je netočan, pokušajte ponovo!</span>
        <div *ngIf="current_question.type == 'radio'">
          <div class="answers form-group"
               *ngFor="let answer of current_question.answers; let i = index">
            <label class="radio-inline">
              <input ngModel type="radio" name="question" value="{{answer}}" required> {{answer}}
            </label>
          </div>
        </div>
        <div *ngIf="current_question.type == 'input'">
          <input ngModel name="question" placeholder="Upiši odgovor ovdje" type="text" class="form-control" #input_answer required>
          <hr>
            <div id="keyboard">
              <button type="button" (click)="onEnterKey('æ', f)">Æ</button>
              <button type="button" (click)="onEnterKey('ø', f)">Ø</button>
              <button type="button" (click)="onEnterKey('å', f)">Å</button>
            </div>
        </div>
          <button [disabled]="!f.valid" type="submit" *ngIf="index != current_lesson.questions.length - 1"
                  class="btn btn-primary">sljedeće pitanje
          </button>
          <button [disabled]="!f.valid" type="submit" *ngIf="index == current_lesson.questions.length - 1"
                  class="btn btn-primary">kraj
          </button>
      </form>
    </div>
    <div *ngIf="state==='finished'">
      <img class="center-block" src="assets/congrats.gif" alt="">
      <button class="btn btn-primary" (click)="onNextLesson()">sljedeća lekcija</button>
    </div>
  </div>
</div>
