<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Ime"
          ngModel
          class="form-control">
      </div>
      <div class="form-group">
        <input
          type="text"
          id="surname"
          name="surname"
          placeholder="Prezime"
          ngModel
          class="form-control">
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Lozinka"
          ngModel
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
  </div>
</div>

