<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3 class="text-center">Dobro došli!</h3>
    <p class="text-center">Kako biste mogli početi učiti, molim vas da se prijavite!</p>
    <p #errorMessage class="text-center error-message"></p>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <input required type="email" id="email" name="email" placeholder="E-mail" ngModel
               class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"
               autofocus>
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Lozinka"
          class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"
          ngModel>
      </div>
      <button class="btn col-xs-4 col-xs-offset-4" type="submit" [disabled]="!f.valid">Prijavi se</button>
    </form>
  </div>
</div>

